<!DOCTYPE html>
{% extends 'landing_page.html' %}
{% block  body_block%}

    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            {% if registered  %}
            <h1>Thank you {{ user_form.first_name}} for registratin !</h1>
            {% else %}
            <h3>Not Registered yed please register now!</h3>
            <form  method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ user_form.as_p }}
                {{ profile_form.as_p }} 
                <input type="submit" value="Register!">
            </form>
            {% endif %}
        </div>
    </div>"

{% endblock %}